  .ivu-input-group .ivu-input {
    height: 50px;
  }

  .ivu-input-group-append,
  .ivu-input-group-prepend {
    padding: 4px 15px;
  }


  .ivu-modal-footer,
  .ivu-modal-header {
    border: none;
  }
